<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Thermometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <canvas #thermometer></canvas>
    <!-- <p>{{coordinates?.latitude}}<br />{{coordinates?.longitude}}</p>
    <p>{{temp}}</p> -->
  </div>
</ion-content>
